#content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
.slideshow-position {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 400px;
	margin-top: -200px;
	margin-left: -300px;
}
.slideshow-wrapper {
	position: relative;
	max-width: 600px;
	height: 400px;
	overflow: visible;
}
.slideshow-viewer {
	width: 600px;
	overflow: hidden;
	border-radius: 15px;
}
.slideshow-viewer ul {
	position: relative;
	height: 400px;
	margin: 0;
	padding: 0;
}
.slideshow-viewer li {
	position: absolute;
	right: 600px;
	width: 600px;
	height: 400px;
	list-style: none;
}
.slideshow-viewer li.first-slide {
	right: 0px;
	animation: first 20s linear infinite running;
	-webkit-animation: first 20s linear infinite running;
	-moz-animation: first 20s linear infinite running;
}
.slideshow-viewer li.second-slide {
	animation: second 20s linear infinite running;
	-webkit-animation: second 20s linear infinite running;
	-moz-animation: second 20s linear infinite running;
}
.slideshow-viewer li.third-slide {
	animation: third 20s linear infinite running;
	-webkit-animation: third 20s linear infinite running;
	-moz-animation: third 20s linear infinite running;
}
.slideshow-viewer li.fourth-slide {
	animation: fourth 20s linear infinite running;
	-webkit-animation: fourth 20s linear infinite running;
	-moz-animation: fourth 20s linear infinite running;
}
.slideshow-viewer:hover li {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
}
@keyframes first {
	0% { right: 0; }
	5% { right: 0; }
	20% { right: 0; }
	25% { right: -600px; z-index: 0; }
	26% { right: 600px; z-index: -1; }
	95% { right: 600px; z-index: 0; }
	100% { right: 0; }
}
@keyframes second {
	0% { right: 600; }
	20% { right: 600px; }
	25% { right: 0; }
	30% { right: 0; }
	45% { right: 0; }
	50% { right: -600px; z-index: 0;}
	51% { right: 600px;  z-index: -1; }
	100% { right: 600px; z-index: 0; }
}
@keyframes third {
	0% { right: 600px; }
	45% { right: 600px; }
	50% { right: 0; }
	55% { right: 0; }
	70% { right: 0; }
	75% { right: -600px; z-index: 0;}
	76% { right: 600px;  z-index: -1; }
	100% { right: 600px; z-index: -1; }
}
@keyframes fourth {
	0% { right: 600px; }
	70% { right: 600px; }
	75% { right: 0; }
	80% { right: 0; }
	95% { right: 0; }
	100% { right: -600px; z-index: 0; }
}
@-webkit-keyframes first {
	0% { right: 0; }
	5% { right: 0; }
	20% { right: 0; }
	25% { right: -600px; z-index: 0; }
	26% { right: 600px; z-index: -1; }
	95% { right: 600px; z-index: 0; }
	100% { right: 0; }
}
@-webkit-keyframes second {
	0% { right: 600; }
	20% { right: 600px; }
	25% { right: 0; }
	30% { right: 0; }
	45% { right: 0; }
	50% { right: -600px; z-index: 0;}
	51% { right: 600px;  z-index: -1; }
	100% { right: 600px; z-index: 0; }
}
@-webkit-keyframes third {
	0% { right: 600px; }
	45% { right: 600px; }
	50% { right: 0; }
	55% { right: 0; }
	70% { right: 0; }
	75% { right: -600px; z-index: 0;}
	76% { right: 600px;  z-index: -1; }
	100% { right: 600px; z-index: -1; }
}
@-webkit-keyframes fourth {
	0% { right: 600px; }
	70% { right: 600px; }
	75% { right: 0; }
	80% { right: 0; }
	95% { right: 0; }
	100% { right: -600px; z-index: 0; }
}
@-moz-keyframes first {
	0% { right: 0; }
	5% { right: 0; }
	20% { right: 0; }
	25% { right: -600px; z-index: 0; }
	26% { right: 600px; z-index: -1; }
	95% { right: 600px; z-index: 0; }
	100% { right: 0; }
}
@-moz-keyframes second {
	0% { right: 600; }
	20% { right: 600px; }
	25% { right: 0; }
	30% { right: 0; }
	45% { right: 0; }
	50% { right: -600px; z-index: 0;}
	51% { right: 600px;  z-index: -1; }
	100% { right: 600px; z-index: 0; }
}
@-moz-keyframes third {
	0% { right: 600px; }
	45% { right: 600px; }
	50% { right: 0; }
	55% { right: 0; }
	70% { right: 0; }
	75% { right: -600px; z-index: 0;}
	76% { right: 600px;  z-index: -1; }
	100% { right: 600px; z-index: -1; }
}
@-moz-keyframes fourth {
	0% { right: 600px; }
	70% { right: 600px; }
	75% { right: 0; }
	80% { right: 0; }
	95% { right: 0; }
	100% { right: -600px; z-index: 0; }
}