@import "variables";
@import "mixins";

#content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
.slideshow-position {
	position: absolute;
	top: 50%;
	left: 50%;
	width: $width;
	height: $height;
	margin-top: -200px;
	margin-left: -300px;
}
.slideshow-wrapper {
	position: relative;
	max-width: $width;
	height: $height;
	overflow: visible;
}
.slideshow-viewer {
	width: $width;
	overflow: hidden;
	border-radius: 15px;
}
.slideshow-viewer ul {
	position: relative;
	height: $height;
	margin: 0;
	padding: 0;
}
.slideshow-viewer li {
	position: absolute;
	right: $width;
	width: $width;
	height: $height;
	list-style: none;
}
.slideshow-viewer li.first-slide {
	right: 0px;
	animation: first 20s linear infinite running;
	-webkit-animation: first 20s linear infinite running;
	-moz-animation: first 20s linear infinite running;
}
.slideshow-viewer li.second-slide {
	animation: second 20s linear infinite running;
	-webkit-animation: second 20s linear infinite running;
	-moz-animation: second 20s linear infinite running;
}
.slideshow-viewer li.third-slide {
	animation: third 20s linear infinite running;
	-webkit-animation: third 20s linear infinite running;
	-moz-animation: third 20s linear infinite running;
}
.slideshow-viewer li.fourth-slide {
	animation: fourth 20s linear infinite running;
	-webkit-animation: fourth 20s linear infinite running;
	-moz-animation: fourth 20s linear infinite running;
}
.slideshow-viewer:hover li {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
}
@for $j from 1 through length( $slide-animations ) {
	@include slideshow-animation( 4, 5, 1, nth( $slide-animations, $j ), ( $j - 1 ) );
}
